@media (max-width:768px) {
    .mobile-hide {
        display: none;
    }

    .digitalmarketing-box {
        justify-content: end;
    }

    .digitalmarketer_header {
        width: 50%;
        margin-right: 0 !important;
    }

    .marketing-right-container {
        position: relative;
    }

    .hamza-portrait {
        /* max-width: 50%; */
        height: 113%;
        top: 42%;
        left: 30%;
    }
}