* {
    padding: 0;
    margin: 0;
}
:root{
    --primary:#00D563;
    --secondary:#272759;
    --white:#ffffff;
    --black:#000000;
    --gradiant1:#19194b;
    --gradiant2:#272759;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
.d-inline{
    display: inline;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* ------- Header ----- */

.DigitalMarketer_header {
    width: 30%;
    top: 40%;
    left: 60%;
    font-family: 'Poppins';
}

span.digital {
    /* font-size: 70px; */
    font-size: calc(2.5vw + 2.5vh + 1vmin);
    color: var(--primary);

}
h1.Digi-marketing{
    margin-bottom: calc(16px + 0.3vw);
}

span.marketing {
    /* font-size: 70px; */
    font-size: calc(2.5vw + 2.5vh + 1vmin);
    color: var(--white);
}

.Vision-UAE {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 152%;
    color:var(--white);
    margin-bottom: calc(16px + 0.3vw);
}


/* ----- Hero Section ----- */

li{
    list-style: none;
}
::marker{
    height: 100% !important;
}
.Hero-Secton-Body{
    width: 100%;
    color: var(--white);
    
}
.left-MarketingExperiance{
    background-color: var(--primary);
    width: 50%;
    /* padding:calc(20px + .03vw); */
}
.left-MarketingContent{
    margin: calc(30px + 1vw);
    margin-left:calc(20px + 1vw);
    margin-right:calc(100px + 6vw);
}
.BoderedBox-Heading{
    border: 1px solid var(--white);
    font-size: calc(8px + .75vw);
    font-weight: 700;
    padding: calc(12px + .1vw);
    border-radius: 10px;
    margin-right:calc(-50px - 1vw);
    margin-bottom: calc(12px + 1vw);
}
.left-MarketingContent li{
    margin-bottom: calc(12px + 1vw);
    font-size: calc(8px + .55vw);
}
.left-MarketingContent li strong{
    font-size: calc(8px + .7vw);
}
.Right-TheRighWay{
    background-color: var(--gradiant1);
    width: 50%;

}
.RightWay-Content{
    text-align: right;
    margin: calc(30px + 1vw);
    margin-right:calc(20px + 1vw);
    margin-left:calc(100px + 2vw);
}